<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HMRC Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.Hmrc.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="HMRC Test Cases">
		<classes>
			<class name="com.Hmrc.framework.VechilesRegistration.VechileRegistrationTest"></class>
			

		</classes>
	</test>
</suite>